/* Section Header */
#statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #0A1F44, #1C2B50);
  color: white;
  font-family: 'Arial', sans-serif;
  padding: 40px 20px;
  text-align: center;
  gap: 6px;
}

#statement h1,
#statement p {
  margin: 0;
}

/* Konten utama */
#content {
  font-family: sans-serif;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

/* Menu navigasi */
#topmenu ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
  justify-content: center; /* agar menu berada di tengah */
}

#topmenu a {
  text-decoration: none;
  color: #FCA311;
  font-weight: bold;
  transition: color 0.3s;
}

#topmenu a:hover {
  color: white;
}
